
main {
    width: 100%;
    min-height: 100vh;
    /* 画面の高さいっぱいにする */
    background-color: #eee1d5;
    /* 下線の下からの背景色 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* レイアウト全体 */
.register-container {
    position: relative;
        max-width: 500px;
        /* 幅を広げる */
        width: 100%;
        padding: 40px 30px 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* 右上のログインボタン */
.header-login {
    position: absolute;
    top: 50px;
    right: 30px;
}

.login-button {
    text-decoration: none;
        font-size: 24px;
        color: #8c7b70;
        background: none;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #ccc;
}

.login-button:hover {
    background: #5c4c40;
    color: white;
}

/* タイトル */
.register-title {
    position: absolute;
        top: -150px;
        /* 上部に配置 */
        left: 50%;
        transform: translateX(-50%);
        background-color: #eee1d5;
        /* 背景をフォームと同じにして一体感を出す */
        padding: 5px 15px;
        font-size: 36px;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        color: #5c4c40;
        border-radius: 8px;
}

form {
    background: none;
    padding: 0;
}

/* フォームグループ */
.form-group {
    display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
}

/* ラベル */
label {
    width: 100%;
        display: block;
        text-align: center;
        font-size: 18px;
        margin-bottom: 15px;
        color: #5c4c40;
        white-space: nowrap;
}

/* 入力フィールド */
input {
    width: 100%;
        max-width: 300px;
        padding: 12px;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        background-color: #f9f8f6;
        color: #5c4c40;
        font-size: 14px;
        box-sizing: border-box;
}

.error-message{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* 登録ボタン */
.register-button {
    width: 50%;
    padding: 12px;
    background-color: #5c4c40;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.register-button:hover {
    background-color: #4a3b30;
}

/* フッター */
.register-footer {
    margin-top: 15px;
}


